In [1]:
import pandas as pd
import datetime as dt
from matplotlib import pyplot as plt
import seaborn as sns
from kiblib.utils.db import DbConn

In [2]:
db_conn = DbConn().create_engine()

In [38]:
liste_index = (0,1,2,3,4,5,6,7,8)

In [39]:
prints = pd.read_csv("/home/kibini/wk_logs_prints.csv")

In [40]:
prints

,date_impression,wk_id,utilisateur,espace,poste,imprimante,nb_credits_utilises,nb_pages_imprimees,type_impression
0,27/08/2015 08:59,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,0
1,27/08/2015 17:07,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,0
2,27/08/2015 17:33,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,0
3,27/08/2015 18:40,11275,ava,Atelier,atelier07,RDC-NB,1,1,0
4,27/08/2015 18:42,11275,ava,Atelier,atelier07,RDC-COULEUR,4,1,1
...,...,...,...,...,...,...,...,...,...
251215,04/05/2024 17:40,121801,X0002772448,Rdc,rdc02,RDC-NB,1,1,0
251216,04/05/2024 17:45,6314,X0001719254,Rdc,rdc01,RDC-NB,1,1,0
251217,04/05/2024 17:46,6314,X0001719254,Rdc,rdc01,RDC-NB,1,1,0
251218,04/05/2024 17:47,3581,X0002717388,Rdc,rdc08-scan,RDC-NB,5,5,0
251219,04/05/2024 17:53,4733,X0002116778,Rdc,rdc09-scan,RDC-NB,1,1,0

In [41]:
prints.loc[prints['type_impression']==0,['type_impression']] = 'N&B'
prints.loc[prints['type_impression']==1,['type_impression']] = 'COULEUR'

In [42]:
prints.groupby('type_impression').size()

type_impression
COULEUR     10619
N&B        240601
dtype: int64

In [43]:
prints.dtypes

date_impression        object
wk_id                   int64
utilisateur            object
espace                 object
poste                  object
imprimante             object
nb_credits_utilises     int64
nb_pages_imprimees      int64
type_impression        object
dtype: object

In [44]:
prints

,date_impression,wk_id,utilisateur,espace,poste,imprimante,nb_credits_utilises,nb_pages_imprimees,type_impression
0,27/08/2015 08:59,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,N&B
1,27/08/2015 17:07,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,N&B
2,27/08/2015 17:33,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,N&B
3,27/08/2015 18:40,11275,ava,Atelier,atelier07,RDC-NB,1,1,N&B
4,27/08/2015 18:42,11275,ava,Atelier,atelier07,RDC-COULEUR,4,1,COULEUR
...,...,...,...,...,...,...,...,...,...
251215,04/05/2024 17:40,121801,X0002772448,Rdc,rdc02,RDC-NB,1,1,N&B
251216,04/05/2024 17:45,6314,X0001719254,Rdc,rdc01,RDC-NB,1,1,N&B
251217,04/05/2024 17:46,6314,X0001719254,Rdc,rdc01,RDC-NB,1,1,N&B
251218,04/05/2024 17:47,3581,X0002717388,Rdc,rdc08-scan,RDC-NB,5,5,N&B
251219,04/05/2024 17:53,4733,X0002116778,Rdc,rdc09-scan,RDC-NB,1,1,N&B

In [45]:
prints['date_impression'] = pd.to_datetime(prints['date_impression'],dayfirst=True)

In [46]:
prints.dtypes

date_impression        datetime64[ns]
wk_id                           int64
utilisateur                    object
espace                         object
poste                          object
imprimante                     object
nb_credits_utilises             int64
nb_pages_imprimees              int64
type_impression                object
dtype: object

In [47]:
prints

,date_impression,wk_id,utilisateur,espace,poste,imprimante,nb_credits_utilises,nb_pages_imprimees,type_impression
0,2015-08-27 08:59:00,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,N&B
1,2015-08-27 17:07:00,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,N&B
2,2015-08-27 17:33:00,11275,ava,Atelier,atelier07,ETAGE3-NB,1,1,N&B
3,2015-08-27 18:40:00,11275,ava,Atelier,atelier07,RDC-NB,1,1,N&B
4,2015-08-27 18:42:00,11275,ava,Atelier,atelier07,RDC-COULEUR,4,1,COULEUR
...,...,...,...,...,...,...,...,...,...
251215,2024-05-04 17:40:00,121801,X0002772448,Rdc,rdc02,RDC-NB,1,1,N&B
251216,2024-05-04 17:45:00,6314,X0001719254,Rdc,rdc01,RDC-NB,1,1,N&B
251217,2024-05-04 17:46:00,6314,X0001719254,Rdc,rdc01,RDC-NB,1,1,N&B
251218,2024-05-04 17:47:00,3581,X0002717388,Rdc,rdc08-scan,RDC-NB,5,5,N&B
251219,2024-05-04 17:53:00,4733,X0002116778,Rdc,rdc09-scan,RDC-NB,1,1,N&B

In [48]:
prints['date_impression'] = prints['date_impression'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [49]:
prints['date_impression'].max()

'2024-05-04 17:53:00'

# IMPORT DANS STATDB

In [50]:
#prints.to_sql('stat_impressions',con=db_conn,if_exists='replace',index=False)

251220

# SCRIPT IMPORT STATS IMPRESSIONS

In [67]:
#On crÃ©e une liste contenant les futurs noms de colonne du dataframe
nom_colonnes=['date_impression',
              'wk_id',
              'utilisateur',
              'espace',
              'poste',
              'imprimante',
              'nb_credits_utilises',
              'nb_pages_imprimees',
              'type_impression']

In [68]:
# Import du fichier de donnÃ©es sur les impressions
prints = pd.read_csv("/home/kibini/wk_logs_prints.csv",names=nom_colonnes)

In [69]:
# Conversion de la colonne date_impression au format YYYY-MM-JJ
prints['date_impression'] = pd.to_datetime(prints['date_impression'],yearfirst=True)

In [70]:
prints['date_impression'] = prints['date_impression'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [71]:
prints.loc[prints['type_impression']==0,['type_impression']] = 'N&B'
prints.loc[prints['type_impression']==1,['type_impression']] = 'COULEUR'

In [ ]:
#prints.to_sql('stat_impressions',con=db_conn,if_exists='append',index=False)